*~
*#*#
/.mc-lists.el
/.places
/.smex-items
/ac-comphist.dat
/auto-save-list
/custom.el
/elpa
/eshell
/history
/ido.last
/projectile-bookmarks.eld
/projectile.cache
/semanticdb
/session.*
/tramp
/url
