*#*#
*.elc
*~
/.cask/
/.mc-lists.el
/.places
/.smex-items
/abbrev_defs
/ac-comphist.dat
/anaconda-mode/*
/auto-save-list
/bookmarks
/company-statistics-cache.el
/custom.el
/ebdb
/eln-cache/
/elpa
/emojis/*
/erc
/eshell
/etc/eudc-options.el
/eudc-options
/flycheck_init.el
/forge-database.sqlite
/games/
/helm-adaptive-history
/history
/ido.last
/irony/
/meghanada/
/network-security.data
/org-clock-save.el
/package-quickstart.el
/projectile-bookmarks.eld
/projectile.cache
/recentf
/semanticdb
/session.*
/smex-items
/srecode-map.el
/tramp
/transient/
/tutorial/
/type-break
/url
/var/
/vimish-fold/
