*#*#
*~
/.cask/
/.mc-lists.el
/.places
/.smex-items
/abbrev_defs
/ac-comphist.dat
/anaconda-mode/*
/auto-save-list
/company-statistics-cache.el
/custom.el
/elpa
/emojis/*
/eshell
/flycheck_init.el
/helm-adaptive-history
/history
/ido.last
/irony/
/meghanada/
/network-security.data
/org-clock-save.el
/package-quickstart.el
/projectile-bookmarks.eld
/projectile.cache
/recentf
/semanticdb
/session.*
/smex-items
/srecode-map.el
/tramp
/type-break
/url
/var/
/vimish-fold/
